<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Contact</title>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h3>Update Contact</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/update/{id}(id=${contact.id})}"
                      th:object="${contact}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" th:field="*{name}" class="form-control"
                                   id="name" placeholder="First Name" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="number" class="col-form-label">Number</label> <input
                                type="text" th:field="*{number}" class="form-control"
                                id="number" placeholder="Phone Number" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="group" class="col-form-label">Group</label> <input
                                type="text" th:field="*{contactGroup}" class="form-control"
                                id="group" placeholder="Phone Number" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="status" class="col-form-label">Status</label> <input
                                type="text" th:field="*{contactStatus}" class="form-control"
                                id="status" placeholder="Phone Number" />
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-success" value="Update">
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>